.jft-spinner {
	background: url('/wp-admin/images/wpspin_light.gif') no-repeat;
	background-size: 16px 16px;
	display: none;
	margin: auto;
	opacity: .7;
	filter: alpha(opacity=70);
	width: 16px;
	height: 16px;
}

.jft-theme {
	float: left;
	margin: 1%;
	width: 30%;
	cursor: pointer;
}

.jft-theme img {
	max-width: 100%;
}

/*
Next code must be prefixed with custom jft class.
 */

/*Search box */
.jft-page .wp-filter {
	padding: 0 10px;
}

.jft-page .wp-filter .search-form input[type=search] {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 15px;
}

.jft-page .wp-filter-search:focus {
    border-color: #39424b;
    box-shadow: none;
}

/* Theme box */
.jft-page .theme {
	border: none;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0,0,0,.15);
}

.jft-page .theme:focus {
	border: none;
	box-shadow: 0 2px 5px rgba(0,0,0,.15);
	outline: none;
}

.jft-page .theme .more-details,
.jft-page .theme:hover .more-details,
.jft-page .theme:focus .more-details {
	visibility: hidden;
	opacity: 0;
}

/* Theme title */
.jft-page .theme .theme-name {
	background: #f6f8fa;
	border-radius: 0 0 3px 3px;
	box-shadow: none;
	color: #39424b;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.025em;
	padding: 20px 15px;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.jft-page .theme:hover .theme-name {
	color: #ff5964;
}

/* Screenshot */
.jft-page .theme:hover .theme-screenshot {
	background: transparent;
}

.jft-page .theme .theme-screenshot img {
	border-radius: 3px;
}

.jft-page .theme:hover .theme-screenshot img,
.jft-page.rendered .theme:hover .theme-screenshot img,
.jft-page .theme:focus .theme-screenshot img,
.jft-page.rendered .theme:focus .theme-screenshot img {
	animation: imgAnim 0.3s;
	opacity: 1;
}

/* Buttons */
.jft-page .theme .theme-actions {
	background: transparent;
	border-left: none;
	box-shadow: none;
	opacity: 1;
	padding: 0;
	right: 15px;
}

.jft-page .theme .theme-actions .button {
	border: 1px solid;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .05em;
	line-height: 18px;
	height: auto;
	padding: 5px 8px;
	text-shadow: none;
	text-transform: uppercase;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.jft-page .theme .theme-actions .button:active {
	transform: translateY(0);
}

.jft-page .theme .theme-actions .button.theme-install {
	background: #ff5964;
	border-color: #ff5964;
}

.jft-page .theme .theme-actions .button.theme-install:hover {
	background: #f04348;
}

.jft-page .theme .theme-actions .button.install-theme-preview,
.jft-page .theme .theme-actions .button.load-customize {
	background: transparent;
	color: #39424b;
}

.jft-page .theme .theme-actions .button.install-theme-preview:hover,
.jft-page .theme .theme-actions .button.load-customize:hover {
	background: #39424b;
	border-color: #39424b;
	color: #fff;
}

.jft-page .theme .theme-actions .button.activate {
	background: #01BAEF;
	border-color: #01BAEF;
}

.jft-page .theme .theme-actions .button.activate:hover {
	background: #39424b;
	border-color: #39424b;
}

/* Notice */
.jft-page .theme .notice {
	border: none;
	border-radius: 3px 3px 0 0;
}

.jft-page .theme .notice p {
	color: #01BAEF;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
}

.jft-page .theme .notice-success p:before {
	color: #01BAEF;
	margin-right: 2px;
}

.jft-page .theme .notice-success.notice-alt {
	background-color: #dff8ff;
}

/* Animations */
@keyframes imgAnim {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: 0.9;
		transform: scale(1.03);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}